<div class="container">
  <div class="jumbotron">
    <h1 class="page-header text-center">Greetings, customer!</h1>
    <p>What spiritualizes the dwelling, bringing to it a note of usefulness and comfort? What is called to serve humanity and
      to fill its life with a sense of well-being? Naturally - furniture. Since the beginning of time, people have fashioned
      their way of life in the simplest of its particles from improvised means: skins of animals, wood. Progress and a variety
      of scientific discoveries have allowed production to step on millions of steps forward, but natural wood is still used
      to produce the best carpentry.</p>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Browse our products</h2>
        <p><a class="btn btn-primary" [routerLink]="['/product']">Browse</a></p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Register to make orders</h2>
        <p><a class="btn btn-primary" [routerLink]="['/product']">Register</a></p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Log in</h2>
        <p><a class="btn btn-primary" [routerLink]="['/login']">Login</a></p>
      </div>
    </div>

  </div>

</div>