<div class="container">
    <a class="btn btn-default" *ngIf='authService.isAdmin()' routerLink='/product/add'>Add</a>
    <div class="container" *ngIf='products'>
        <div class="row">
            <h1 class="page-header text-center">Products</h1>
            <div class="col-md-4" *ngFor='let product of products'>
                <div class="thumbnail">
                    <img src="#" alt="..">
                    <div class="caption">
                        <h3>{{product.Title}}</h3>
                        <h3><small>{{product.Price | currency: 'USD':true:'1.2-2'}}</small></h3>
                        <p>{{product.Description | truncate: 50}}</p>
                    </div>
                    <a [routerLink]="['/product/view', product.Id]" class="btn btn-primary">
                        <span class="glyphicon glyphicon-eye-open"></span> View
                    </a>
                    <button class="btn btn-default" (click)="addToCart(this.product)" *ngIf='authService.loggedIn() && !authService.isAdmin()'>
                        <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                    </button>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <ul *ngIf="pagingInfo.Pages && pagingInfo.Pages.length" class="pagination">
                <li [ngClass]="{disabled: pagingInfo.CurrentPage === 1}">
                    <a [ngClass]="{disabled: pagingInfo.CurrentPage === 1}" [routerLink]="['/product/list', '1']">First</a>
                </li>
                <li [ngClass]="{disabled: pagingInfo.CurrentPage === 1}">
                    <a [ngClass]="{disabled: pagingInfo.CurrentPage === 1}" [routerLink]="['/product/list', pagingInfo.CurrentPage - 1]">Previous</a>
                </li>
                <li *ngFor="let page of pagingInfo.Pages" [ngClass]="{active:pagingInfo.CurrentPage === page}">
                    <a [routerLink]="['/product/list', page]">{{page}}</a>
                </li>
                <li [ngClass]="{disabled: pagingInfo.CurrentPage === pagingInfo.TotalPages}">
                    <a [ngClass]="{disabled: pagingInfo.CurrentPage === pagingInfo.TotalPages}" [routerLink]="['/product/list', pagingInfo.CurrentPage + 1]">Next</a>
                </li>
                <li [ngClass]="{disabled: pagingInfo.CurrentPage === pagingInfo.TotalPages}">
                    <a [ngClass]="{disabled: pagingInfo.CurrentPage === pagingInfo.TotalPages}" [routerLink]="['/product/list', pagingInfo.TotalPages]">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>