<div class="container">
    <a class="btn btn-default" [routerLink]="['/product/create']">Add</a>
    <div class="container" *ngIf='products'>
        <div class="row">
            <h1 class="page-header">Products</h1>
            <div class="col-md-4" *ngFor='let product of products | async'>
                <div class="thumbnail">
                    <img src="#" alt="..">
                    <div class="caption">
                        <h3>{{product.Title}}</h3>
                        <p>{{product.Description}}</p>
                    </div>
                    <a [routerLink]="['/product', product.Id]" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-default" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>