<div class="container" *ngIf='product'>
    <div class="row">
        <a class="btn btn-default" [routerLink]="['/product']">Back</a>
        <div class="pull-right" *ngIf='authService.isAdmin(); else customer'>
            <button type="button" class="btn btn-warning" data-toggle="modal" (click)="myModal.open()">
                Delete
            </button>
            <a class="btn btn-default" [routerLink]="['/product/edit', product.Id]">Edit</a>
        </div>
        <ng-template #customer>
            <div class="pull-right" *ngIf='authService.loggedIn()'>
                <button class="btn btn-default" (click)="addToCart()">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Buy
                </button>
            </div>
        </ng-template>
    </div>
    <div class="page-header">
        <h1 class="text-center">{{product.Title}} </h1>
    </div>
    <div class="container">
        <div class="col-md-5">
            <img src="{{imgPath + product.Image}}" width="400" height="400" />
        </div>
        <div class="col-md-7">
            <table class="table">
                <tr>
                    <td><b>Type</b></td>
                    <td>{{product.Type.Title}}</td>
                </tr>
                <tr>
                    <td><b>Price</b></td>
                    <td>{{product.Price | currency: 'USD':true:'1.2-2' }}</td>
                </tr>
                <tr>
                    <td><b>Date</b></td>
                    <td>{{product.CreateDate | date }}</td>
                </tr>
                <tr>
                    <td><b>Material</b></td>
                    <td>{{product.Material.Title}}</td>
                </tr>
                <tr *ngIf='product.Weight'>
                    <td><b>Weight (kg) </b></td>
                    <td>{{product.Weight}}</td>
                </tr>
                <tr *ngIf='product.Length && product.Width && product.Height'>
                    <td><b>Dimensions (cm)</b></td>
                    <td>{{product.Length}} &times; {{product.Height}} &times; {{product.Weight}}</td>
                </tr>
            </table>
            <h2></h2>
        </div>
    </div>
    <div *ngIf='product.Description'>
        <h1>Descriptrion</h1>
        <p>{{product.Description}}</p>
    </div>
</div>

<modal #myModal>
    <modal-header>
        <h3>Are you sure that you want to delete this?</h3>
    </modal-header>
    <modal-content>
        <div class="alert alert-dismissible alert-danger">
            <strong>Note:</strong> This cannot be undone!
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-danger" (click)="removeProduct()">Yes</button>
        <button class="btn btn-default" (click)="myModal.close()">Cancel</button>
    </modal-footer>
</modal>